.contact_page,
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact_page {
  align-items: center;
  margin: 3rem 0;
}

.contact_form input,
textarea {
  border-radius: 0.6rem;
  min-height: 3.5rem;
  margin-bottom: 1rem;
  min-width: 50vw;
  font: inherit;
}

.email,
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_email,
.contact_name {
  margin-left: 2rem;
}

.contact_message {
  height: 15rem;
  line-height: 2rem;
  resize: none;
}

.contact_submit {
  background-color: #432e7d;
  color: #ffffff;
  border-color: #161616;
}

input {
  border: 2px solid black;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-error {
  color: var(--color-error);
  animation: var(--animation-shake-y);
}

.valid {
  border: 4px solid green;
}

.error {
  border-color: var(--color-error);
}

.form-success {
  text-align: center;
  background-color: #432e7d;
  padding: 4rem;
  border-radius: 1rem;
  border: 4px solid green;
  opacity: 0;
  animation: var(--animation-fade-in) forwards;
  animation-timing-function: var(--ease-in-1);
  animation-duration: 0.3s;
  margin-bottom: 2rem;
}

.exit {
  animation: var(--animation-fade-out);
  animation-timing-function: var(--ease-out-1);
  animation-duration: 0.3s;
}

.pagebuttons {
  padding: 1rem 0.5rem;
  border: 1px solid white;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 2rem;
}
